# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Numba / JIT-Cache
__numba_cache__/
*.nbi
*.nbc

# mypy
.mypy_cache/
.dmypy.json

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
err.txt
